


body {
    position: relative;
    min-height: 100vh;
}
.content {
    padding-bottom: 2.5rem;
}
.container {
    margin-top: 20px;
}
footer {

    position: absolute;
    bottom: 0;
    width: 100%;
    z-index:1;
    height: 2.5rem;
    background-color: darkslategrey;
    color: ghostwhite;

}

/*start button up */

.btn-up {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 35px;
    background-color: transparent;
    border: none;
    color: var(--main-color);

}


/*end button up*/

/* No print */
@page {
    margin: 0;
}

@media print {
       
    .no-print {
        display: none;
    }
    .page-break-before {
        page-break-before: always;
    }

    .page-break-after {
        page-break-after: always;
    }
    .grey-background {
        background-color: lightgray;
    }

    -webkit-print-color-adjust: exact;
}
/* Hide header and footer */
.grey-background {
    background-color: lightgray;
}


/* Nav bar */

.divPlus{
    margin-right:100px;


}
.navbar {
    z-index: 2;
}
li b{
    color:red
}

.sidebar {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    height: 95%;
    opacity: .2;
    transition: opacity 0.7s;
    border-radius: 50px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.sidebar::-webkit-scrollbar {
    width: 0.1em;

}
    .sidebar::-webkit-scrollbar {
        width: 0.1em;
    }

.sidebar::-webkit-scrollbar-thumb {
    background-color: transparent;
}
.sidebar:hover{
   
    opacity:1
}
/* LogIn & Register page */
.Log_Reg_Page {
    background-color: azure;
}
.headerLogReg{
    margin :20px auto;
    padding :10px;
    color : teal;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:italic;
}
    .headerLogReg img {
        width: 45px;
        height: 40px;
        margin-right: 10px;
    }
        .fa-school {
    color: orangered;
    font-size: 35px;
    margin-left:20px;
}
.LogIn {
    width: 400px;
    align-items: center;
    margin: 30px auto;
}


/* Home page */

.image-About img{
  
    border-radius:30px;
}

.formation .card {
    height: 650px;
    text-wrap: balance;
    box-shadow: black -5px 5px 8px -5px;
}
    .card:hover {
        box-shadow: #000000 -7px 5px 8px -5px;
    }

.stats-total {
    height: 650px;
   
}
.stats-item {
    height: 280px;
    width:32%;
    padding:30px;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    align-content: center;
    text-align:center;
    border-radius:25px;
    opacity:.9;
    color:white;
    background-color:cadetblue;
    box-shadow: black -5px 5px 8px -5px;
}
    .stats-item:hover {
        opacity:1;
        box-shadow: #000000 -7px 5px 8px -5px;
    }
    /* Gestion Stagiaire page */
.addStagiaireBody {
    background-color: floralwhite;
    padding: 10px;
    box-shadow: grey 0px 6px 8px 2px;
    margin-bottom: 50px
}

/* Gestion Seance page */

.AddExmModal {
    display: block;
    background: #000000a8;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgb(59 139 130 / 62%), rgb(246 245 172))
}

.gradient-custom-body {
    background: linear-gradient(to right bottom, rgb(238 253 251 / 52%), rgb(243 229 226));
}

